.theme {
    min-height: 100vh;
    background: #999;

    &--thunderstorm {
        background: linear-gradient(to left bottom, #01074a 0%, #e2e2e2 100%);

        .block__title {
            color: #01074a;
        }
    }

    &--drizzle {
        background: linear-gradient(to left bottom, #005dba 0%, #e2e2e2 100%);

        .block__title {
            color: #005dba;
        }
    }

    &--rain {
        background: linear-gradient(to left bottom, #003369 0%, #e2e2e2 100%);

        .block__title {
            color: #003369;
        }
    }

    &--snow {
        background: linear-gradient(to left bottom, #e2e2e2 0%, #e2e2e2 100%);

        .block__title {
            color: #e2e2e2;
        }
    }

    &--atmosphere {
        background: linear-gradient(to left bottom, #29758a 0%, #e2e2e2 100%);

        .block__title {
            color: #29758a;
        }
    }

    &--clear {
        background: linear-gradient(to left bottom, #207ce5 0%, #e2e2e2 100%);

        .block__title {
            color: #207ce5;
        }
    }

    &--clouds {
        background: linear-gradient(to left bottom, #314363 0%, #e2e2e2 100%);

        .block__title {
            color: #314363;
        }
    }

    &--extreame {
        background: linear-gradient(to left bottom, #ff0000 0%, #e2e2e2 100%);

        .block__title {
            color: #ff0000;
        }
    }

    &--additional {
        background: linear-gradient(to left bottom, #d1d1d1 0%, #e2e2e2 100%);

        .block__title {
            color: #d1d1d1;
        }
    }
}
