.theme {
    &--thunderstorm {
        background: linear-gradient(left bottom, #f1e767 0%, #01074a 100%);

        .block__title {
            color: #01074a;
        }
    }

    &--drizzle {
        background: linear-gradient(left bottom, #9fc4e6 0%, #005dba 100%);

        .block__title {
            color: #005dba;
        }
    }

    &--rain {
        background: linear-gradient(left bottom, #499bea 0%, #003369 100%);

        .block__title {
            color: #003369;
        }
    }

    &--snow {
        background: linear-gradient(left bottom, #fefefe 0%, #e2e2e2 100%);

        .block__title {
            color: #e2e2e2;
        }
    }

    &--atmosphere {
        background: linear-gradient(left bottom, #93cede 0%, #29758a 100%);

        .block__title {
            color: #29758a;
        }
    }

    &--clear {
        background: linear-gradient(left bottom, #f7ff00 0%, #207ce5 100%);

        .block__title {
            color: #207ce5;
        }
    }

    &--clouds {
        background: linear-gradient(left bottom, #e2e2e2 0%, #314363 100%);

        .block__title {
            color: #314363;
        }
    }

    &--extreame {
        background: linear-gradient(left bottom, #000000 0%, #ff0000 100%);

        .block__title {
            color: #ff0000;
        }
    }

    &--additional {
        background: linear-gradient(left bottom, #636363 0%, #d1d1d1 100%);

        .block__title {
            color: #d1d1d1;
        }
    }
}
